/* formatando site */
/* formatando site */
* {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Arsenal', sans-serif;

}
html {
  scroll-behavior: smooth;
}


/* menu de noticias */
.menu {
    align-items: center;
    display: flex;
    height: 120px;
    background-color: #112244;
}

ul {
    display: flex;
    list-style: none;
    margin-left: 10%;
}

.id_img {
    padding-left: 13%;
    height: 100%;
    width: 9%;

}

li {
    margin-right: 25%;

}

a {
    color: white;
    text-decoration: none;
    font-size: 1.2vw;
}

#noticias {
    color: orange;
}

.menu li :hover {
    color: orange;
    border-bottom: 3.5px solid orange;
    padding-bottom: 10%;
    transition: 0.3s;
}

#inicio {
    color: orange;
}

.biografia {
    display: flex;
    margin-top: 5%;
    height: 100%;
}

.biografia img {
    height: 200%;
    width: 350%;
    margin-left: 10%;
    border-radius: 8%;
    box-shadow: 10px 10px 100px #112244;
}

.textBio {
    text-align: start;
    margin-left: 5%;
    padding-right: 20%;
    font-size: 1.2vw;
    align-items: center;
}

.textBio p {
    width: 150%;
    line-height: 2;
}

.textBio h1 {
    color: #112244;
}

.textBio h2 {
    margin-bottom: 6%;
    color: #112244;
}

.caminhos a {
    width: 10%;
    height: 10%;
    font-size: 1.2vw;
    border-radius: 8px;
    background-color: orange;
    color: #112244;
    padding: 10px 15px;
}

.caminhos :hover {
    color: white;
    background-color: #112244;
    transition: 0.3s;
}

.dados li {
    line-height: 1.5;

}

.meio {
    background-color: #112244;
}

#trajepoli {
    padding-top: 3%;
    margin-top: 4%;
    padding-bottom: 4%;
}

#trajepoli h1 {
    text-align: center;
    font-size: 2.4vw;
    margin-bottom: 1.5%;
    color: orange;
}

#trajepoli h2 {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-left: 50px;
    color: orange;
}

#trajepoli p {
    width: 70%;
    margin-left: 50px;
    color: aliceblue;
    align-items: center;
    line-height: 1.5;
}

.propostas {
    margin-top: 4%;
    margin-bottom: 4%;
}

#propostastext h1 {
    text-align: center;
    font-size: 2.4vw;
    margin-bottom: 1.5%;
    color:  #112244;
}

#propostastext p {
    width: 70%;
    margin-left: 50px;
    color: #112244;
    align-items: center;
    line-height: 1.5;
}

#propostastext h2 {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-left: 50px;
    color: #112244;

}

.ondeMora{
    margin-top: 4%;
    margin-bottom: 4%;
    padding-bottom: 4%;
    background-color: #112244;
}

#textosLoc{
    align-items: center;
    margin-left: 4%;
    padding-top: 4%;
}
#textosLoc h2{
    color: orange;
}
#textosLoc p{
    width: 70%;
    color: white;
    align-items: center;
    line-height: 1.5;
}

#localizacao{
    padding-top: 5%;
    text-align: center;
}
#localizacao iframe{
    border-radius: 50px;
    width: 70%;
    box-shadow: 10px 10px 100px white;
}


/*redes sociais*/
.redesicones{
    text-align: center;
}
.redesicones img{
    background-color: aliceblue;
    height: 2%;
    width: 2%;
    margin-bottom: 2%;
}
.redestext{
    color: aliceblue;
    font-size: 1.5vw;
    margin-bottom: 3%;
    text-align: center;
}
.redesicones :hover{
    background-color: orange;
}
.redestitle {
    color: #FF7B00;
    margin-top: 2%;
    font-size: 1.2vw;
    text-align: center;
    color: #112244;
    margin-bottom: 4%;
}